body {
   /* background-image: url("../assets/backsepia.jpg");*/
    background-size: cover;
    background: radial-gradient(black, white);
    display: flex;
    align-items: center;
    justify-content: center;

}

canvas {
    display: block;
    margin: auto;
    position: relative;
}
