canvas {
	margin: auto;
}

#game-area {
	display: none;
	position: absolute;
	top: 30%;
	background-color: #8e44ad;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 2em;
	font-size: 1.2em;
	opacity: 0.8;
	z-index: 2;
}

button {
	color: violet;
	border: 2px violet;
	padding: 8px 20px;
	width: 10em;
	background-color: black;
	margin-top: 0.8em;}


input[type="submit"] {
	color: violet;
	border: 2px violet;
	padding: 8px 20px;
	width: 10em;
	background-color: black;
	margin-top: 0.8em;}

input[type="text"] {
	cursor: auto;
	width: 100%;
	height: 1.6em;
	margin: 0px;
	padding: 0px;
	outline: none;
	border: none;
}

form {
	display: none;
	min-width: 270px;
}

#leaderboard	{
	display: none;
}

li {
	/*list-style-type: none;*/
	clear: both;
}

.score {
	float: right;
}