body {
   /* background-image: url("../assets/backsepia.jpg");*/
    background-size: cover;
    /*background: radial-gradient(black, white);*/
    background-color: black;
}

canvas {
   /* display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

h1 {
	text-align: center;
	font-size: 5em;
	/*font-weight: bold;*/
	font-family: monospace;
	color: rgb(0, 255, 0);
}

h4 {
	text-align: center;
	padding-top: 1em;
	font-size: 2em;
	font-weight: bold;
	font-family: monospace;
	color: rgb(204,204,204);
}

img {
	margin: 0 auto;
	display: block;
	cursor: pointer;
}