body {
    background-image: url("../assets/backsepia.png");
    background-size: cover;
}

canvas {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
